* {
    box-sizing: border-box
}

body {
background-size: cover;
background-image: url("../images/SingleTrainNight-amariei-mihai-1408784-unsplash.jpg");


}

.jumbotron {
text-align: center;
}

/* HEADER IS NOT ATTACHED TO THE TABLE - ROUNDED CORNERS & LENGTH */
table {
    background-color: white;
    opacity: 50;
    border-radius: 0  0 25px 25px ;    
}

/*  */
form {
    background-color: white;
    border-radius: 25px ;
    margin-top: 5px;
    margin-bottom: 20px;
}

#tableHeader, 
#formHeader {
    padding: 10px;
    background-color: darkgray;
    text-align: center;
    font-variant: small-caps;
    font-size: 18px;

}

.form-group {
   padding: 0px 25px;
}

/* CENTER BUTTON */
.btn {
margin-bottom: 5px;
/* margin-left: 40%; */
/* margin: 0 auto; */

}

.trainForm {
    display: flex;
    justify-content: center;
}


